* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
}
.bottom__nav-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
}
.bottom__nav {
  background-color: #fff;
  width: 48rem;
  height: 9rem;
  border-radius: 20px 20px 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom__nav label {
  width: 7rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.bottom__nav label i {
  font-size: 3.5rem;
  color: #6520a5;
}